* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}

body::before {
    content: '';
    width: 100%;
    height: 436px;
    background: #535971;
    position: absolute;
    z-index: -1;
}

header {
    color: #FFFFFF;
    width: 750px;   
    margin: auto; 
}

h1 {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    width: 375px;
    padding-top: 140px;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    width: 375px;
    margin-top: 18px;
}

form {
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    width: 750px;
    margin: auto;
    margin-top: 58px;

}

.wrapper-personal, .wrapper-mentor, .wrapper-hours {
    display: flex;
    flex-direction: column;
    width: 622px;
    margin: auto;
}

fieldset {
    border: none;

    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #535971;

    padding-top: 64px;
}

.names, .mentor, label, input { 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
}

.separator {
    width: 622px;
    margin: 18px auto 36px;
    border: 1px solid #E6E6F0;
}

.names {
    display: flex;
    justify-content: space-between;
}

.names > div {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    margin-top: 16px;
    margin-bottom: 8px;

    height: 56px;

    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.wrapper-personal label span {
    margin-left: 4px;
}

span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px; 

    color: #C1BCCC;
}

.mentor {
    display: flex;
    flex-direction: column;
}

.wrapper-mentor div label span {
    margin-left: 4px;
}

p {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;

    color: #535971;
}

.input-labels {
    display: flex;
    margin-top: 8px;
}

.input-labels div {
    display: flex;
    flex-direction: column;
}

.input-labels div label span {
    margin-left: 4px;
}

.input-labels input{
    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px
}

.date {
    width: 100%;
}

.das, .ate {
    width: 140px
}

.das {
    margin-left: 32px;
}

.ate {
    margin-left: 10px;
}

.second-mentor {
    margin-bottom: 64px;
}

.form-button {
    background: #535971;
    border-radius: 0px 0px 20px 20px;

    height: 160px;
    padding: 53px 71px;

    margin-bottom: 300px;
}

.submit-button {
    margin: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;

    background: #FF5374;
    border-radius: 20px;
    border: none;

    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
}

.submit-button:hover {
    opacity: 0.8;
    border: solid 1px #FFFFFF;
}