* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}

body::before {
    content: '';
    width: 100%;
    height: 436px;
    background: #535971;

    position: absolute;
    z-index: -1;
}